<li>
  <%= image_tag user.img_name, size: 50 %>
  <%= link_to user.name, user %>

  <%# 管理者のみユーザ削除機能 %>
   <%# if current_user.admin? && !current_user?(user) %>
    | <%#= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <%# end %>
</li>
