<div class='userInfo'>
  <div class='userInfo_img'>
    <%= image_tag current_user.img_name %>
  </div>
  <div class='userInfo_name'><%= link_to current_user.name, current_user %></div>
  <div class='userInfo_microcount'><%= pluralize(current_user.microposts.count, "micropost") %></div>
</div>
