<footer class="footer">
  <small>
      <%= link_to "トップページ",   root_path %></li>
  </small>
  <nav>
    <ul>
      <li><%= link_to "画像アップロード", '#', class: "btn btn-lg btn-primary"%></li>
    </ul>
  </nav>
</footer>