    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Instagram Clone", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
<%# 検索窓%>            <li><form><input type="text" onfocus="placeholders()" value="キーワードを入力" id="placeholder" /></form></li>
            <li><%= link_to "通知",   notice_path %></li>
            <li><%= link_to "プロフィール", about_path %></li>
          </ul>
        </nav>
      </div>
    </header>